:root {

	  /* Fonts */
	  --font-primary: "Urbanist", sans-serif;
	  --color-default: #1a1f24;
	  --color-default-rgb: 26, 31, 36;

	  /* Defult links color */
	  --color-links: #0ea2bd;
	  --color-links-hover: #1ec3e0;

	  /* Primay colors */
	  --color-primary: #ff8400;
	  --color-primary-light: #ffb566;
	  --color-primary-dark: #e67700;

	  --color-primary-rgb: 255, 132, 0;
	  --color-primary-light-rgb: 255, 181, 102;
	  --color-primary-dark-rgb: 230, 119, 0;
          /* Primay colors  two*/
            --color-primary-two: #1457E6;
	  --color-primary-light-two: #729bf3;
	  --color-primary-dark-two: #0c358d;

	  --color-primary-rgb-two: 0, 87, 230;
	  --color-primary-light-rgb-two: 114, 155, 243;
	  --color-primary-dark-rgb-two: 8, 35, 94;

	  /* Secondary colors */
	  --color-secondary: #6b6b7e;
	  --color-secondary-light: #9f9fad;
	  --color-secondary-dark: #464653;

	  --color-secondary-rgb: 107, 107, 126;
	  --color-secondary-light-rgb: 159, 159, 173;
	  --color-secondary-dark-rgb: 70, 70, 83;

	  /* General colors */
	  --color-info: #EBEBEB;
	  --color-info-dark: #575555;

	  --color-light-blue: #fff8d5;


	  --color-blue: #0d6efd;
	  --color-blue-rgb: 13, 110, 253;

	  --color-indigo: #6610f2;
	  --color-indigo-rgb: 102, 16, 242;

	  --color-purple: #6f42c1;
	  --color-purple-rgb: 111, 66, 193;

	  --color-pink: #f3268c;
	  --color-pink-rgb: 243, 38, 140;

	  --color-red: #df1529;
	  --color-red-rgb: 223, 21, 4;

	  --color-orange: #fd7e14;
	  --color-orange-rgb: 253, 126, 20;

	  --color-yellow: #ffc107;
	  --color-yellow-rgb: 255, 193, 7;

	  --color-green: #059652;
	  --color-green-rgb: 5, 150, 82;

	  --color-teal: #20c997;
	  --color-teal-rgb: 32, 201, 151;

	  --color-cyan: #0dcaf0;
	  --color-cyan-rgb: 13, 202, 240;

	  --color-white: #ffffff;
	  --color-white-rgb: 255, 255, 255;

	  --color-gray: #6c757d;
	  --color-gray-rgb: 108, 117, 125;

	  --color-black: #000000;
	  --color-black-rgb: 0, 0, 0;

	}


	:root {
	  --bs-ilght-blue: var(--color-light-blue);
	  --bs-blue: var(--color-blue);
	  --bs-indigo: var(--color-indigo);
	  --bs-purple: var(--color-purple);
	  --bs-pink: var(--color-pink);
	  --bs-red: var(--color-red);
	  --bs-orange: var(--color-orange);
	  --bs-yellow: var(--color-yellow);
	  --bs-green: var(--color-green);
	  --bs-teal: var(--color-teal);
	  --bs-cyan: var(--color-cyan);
	  --bs-white: var(--color-white);
	  --bs-gray: var(--color-gray);
	  --bs-gray-dark: #343a40;
	  --bs-gray-100: #f8f9fa;
	  --bs-gray-200: #e9ecef;
	  --bs-gray-300: #dee2e6;
	  --bs-gray-400: #ced4da;
	  --bs-gray-500: #adb5bd;
	  --bs-gray-600: #6c757d;
	  --bs-gray-700: #495057;
	  --bs-gray-800: #343a40;
	  --bs-gray-900: #212529;
	  --bs-primary: var(--color-primary);
	  --bs-secondary: var(--color-secondary);
	  --bs-success: #198754;
	  --bs-info: #0dcaf0;
	  --bs-warning: #ffc107;
	  --bs-danger: #dc3545;
	  --bs-light: #f8f9fa;
	  --bs-dark: #212529;
	  --bs-primary-rgb: var(--color-primary-rgb);
	  --bs-secondary-rgb: var(--color-secondary-rgb);
	  --bs-success-rgb: 25, 135, 84;
	  --bs-info-rgb: 13, 202, 240;
	  --bs-warning-rgb: 255, 193, 7;
	  --bs-danger-rgb: 220, 53, 69;
	  --bs-light-rgb: 248, 249, 250;
	  --bs-dark-rgb: 33, 37, 41;
	  --bs-white-rgb: var(--color-white-rgb);
	  --bs-black-rgb: var(--color-black-rgb);
	  --bs-body-color-rgb: var(--color-default-rgb);
	  --bs-body-bg-rgb: 255, 255, 255;
	  --bs-font-sans-serif: var(--font-default);
	  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	  --bs-body-font-family: var(--font-default);
	  --bs-body-font-size: 1rem;
	  --bs-body-font-weight: 400;
	  --bs-body-line-height: 1.5;
	  --bs-body-color: var(--color-default);
	  --bs-body-bg: #fff;
	 --bs-border-width: 1px;
	  --bs-border-style: solid;
	  --bs-border-color: #dee2e6;
	  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	  --bs-border-radius: 0.375rem;
	  --bs-border-radius-sm: 0.25rem;
	  --bs-border-radius-lg: 0.5rem;
	  --bs-border-radius-xl: 1rem;
	  --bs-border-radius-2xl: 2rem;
	  --bs-border-radius-pill: 50rem;
	  --bs-link-color: #ff8400;
	  --bs-link-hover-color: #e67700;
	  --bs-code-color: #d63384;
	  --bs-highlight-bg: #fff3cd;
	}




	/*--------------------------------------------------------------
	# 3. Set color and background class names
	--------------------------------------------------------------*/
	/* Fonts */

	/* Text Colors */

	/* Background Colors */

          .bg-lighted{
                    background-color: #EAF7FF;
          }