main section {
  padding: 40px 0 40px 0;
  overflow: hidden;
}



ul{
  margin: 0px !important;
  padding: 0px !important;
  list-style: none !important;
}

.section-header {
  padding-bottom: 40px;
}


.section-header h2{
font-size: 48px;
color: var(--color-secondary);
font-weight: 700;
margin-bottom: 20px;
}
.section-header h2 span{
color: var(--color-primary-two);
font-weight: 700;
}
.section-header.center h2{
text-align: center;
}

.section-header p {
  margin: 0 auto;
  color: var(--color-info-dark);
  font-size: 18px;
}

.section-header.white h2{
	color: var(--color-white);
}

.section-header.white h2 span{
	color: var(--color-white);
}

.section-header.white p{
	color: var(--color-white);
}

.section-header.center p{
text-align: center;
}


@media (min-width: 1280px) {
  .section-header.center p {
    max-width: 80%;
  }

  .section-header p.w-100 {
    max-width: 100%;
  }
}

@media (max-width:767px) {
.section-header h2{
          font-size: 38px;
}
}

@media (max-width:480px) {
.section-header h2{
          font-size: 33px;
          margin-bottom: 10px;
}
.section-header p{
          font-size: 17px;
}
}

.bg-pattern {
	z-index: 1;
	position: relative;
}
.bg-pattern::before{
content: "";
position: absolute;
inset-block-start: 0;
inset-inline-start: 0;
height: 100%;
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
opacity: 0.05;
z-index: -1;
background-attachment: fixed;
}

.bg-darked{
background-color:var(--color-primary-two);
}


/* --------------------------------------------------------------------------
                           3. custom button
---------------------------------------------------------------------------*/
.btn-primary {
  font-size: 16px;
  color: var(--color-white) !important;
  background: var(--color-primary) !important;
  padding: 8px 23px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: var(--font-primary);
  border-color: var(--color-primary) !important;
}

 .btn-primary:hover,
 .btn-primary:focus:hover, .btn-primary:focus {
  color: var(--color-white) !important;
  background: rgba(var(--color-primary-rgb), 0.85) !important;
  border-color: var(--color-primary) !important;
}

.btn-primary-two {
  font-size: 16px;
  color: var(--color-white) !important;
  background: var(--color-primary-two) !important;
  padding: 8px 23px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: var(--font-primary);
  border-color: var(--color-primary-two) !important;
}

 .btn-primary-two:hover,
 .btn-primary-two:focus:hover, .btn-primary-two:focus {
  color: var(--color-white) !important;
  background: rgba(var(--color-primary-rgb-two), 0.85) !important;
  border-color: var(--color-primary-two) !important;
}


.btn-white {
  font-size: 16px;
  color: var(--color-secondary) !important;
  background: var(--color-white) !important;
  padding: 8px 23px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: var(--font-primary);
  border-color: var(--color-white) !important;
}

 .btn-white:hover,
 .btn-white:focus:hover, .btn-white:focus {
  color: var(--color-secondary) !important;
  background: rgba(var(--color-white-rgb), 0.85) !important;
  border-color: var(--color-white) !important;
}


/*--------------------------------------------------------------
5. Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: visible;
  opacity: 0;
  right: 15px;
  bottom: 100%;
  z-index: 996;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: 1s ease;
}

.back-to-top i {
  font-size: 21px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--color-primary);
  color: #fff;
}

.back-to-top.active {
  transition: 1s ease;
  right: 15px;
  bottom: 15px;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

/*--------------------------------------------------------------
6. Top bar
--------------------------------------------------------------*/
.header-main {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-main .logo{
          display: block;
}
.header-main .logo img{
max-height: 60px;
}


#header {
  background: rgba(var(--color-white-rgb), 0.1);
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 5;
  width: 100%;
}


#header.fixed-top {
  height: 70px;
  background: var(--color-white);
  position: fixed;
}
@media(max-width:992px){
  #header.fixed-top{
    background: var(--color-primary-two);
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  /* padding: 20px 20px 20px 20px; */
}

.navbar>ul>li>a{
  padding: 15px 15px 15px 15px;
}

.navbar a, .navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 600;
	color: var(--color-white);
	white-space: nowrap;
	transition: 0.3s;
	position: relative;
	text-transform: uppercase;
	font-family: var(--font-primary);
}

.fixed-top .navbar a, .fixed-top .navbar a:focus{
color: var(--color-secondary);
}


.navbar .dropdown ul li a {
  display: flex;
  justify-content: unset;
  color: var(--color-secondary);
}

.navbar .dropdown .dropdown>a{
justify-content: space-between;
}


.navbar a span{
  font-size: 15px;
	font-weight: 600;
}

/* .navbar a i,
.navbar a:focus i {
  font-size: 15px;
  line-height: 0;
  margin-left: 0px;
} */





.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--color-primary);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px !important;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--color-white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 3px;
  border: 1px solid;
  border-color: rgba(var(--color-secondary-rgb), 0.5);
}

.navbar .dropdown .dropdown ul::before{
          content: unset;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown>a::after{
content: "\F229";
display: inline-block;
font-family: bootstrap-icons !important;
margin-left: 5px;
position: relative;
top: 1px;
font-size: 11px;
}

@media(min-width:992px){
.navbar .dropdown .dropdown>a::after{
  content: "\F231";
  display: inline-block;
  font-family: bootstrap-icons !important;
  margin-left: 5px;
  position: relative;
  top: 1px;
  font-size: 11px;
}
}





.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  
  font-family: var(--font-primary);
  text-transform: capitalize;
  border-radius: 5px;
}

.navbar .dropdown ul a span.badge{
margin-left: 10px;
	font-size: 14px;
}

.navbar .dropdown ul a i{
font-size: 15px;
color: var(--color-secondary);
margin-right: 10px;
}

.navbar .dropdown ul a span{
  font-size: 16px;
}


.navbar .dropdown ul a:hover,
.navbar .dropdown ul a.active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--color-primary-two);
  background-color: rgba(var(--color-secondary-light-rgb), 0.2);

}

.navbar .dropdown ul a:hover i{
          color: var(--color-primary-two);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.navbar>ul>li.register{
margin: 0;
padding: 0px 25px;
background: transparent;
border-radius: 4px;
color: var(--color-white) !important;
transition: all 0.3s ease-in-out 0s;
cursor: pointer;
border: 1px solid;
border-color: var(--color-white);
}

.navbar>ul>li.register:hover{
border: 1px solid;
border-color: var(--color-white);
background: var(--color-white);
}

.navbar>ul>li.register a{
color: var(--color-white) !important;
padding-left: 0;
padding-right: 0;
}

.navbar>ul>li.register:hover a{
color: var(--color-primary-two) !important;
}



.fixed-top .navbar>ul>li.register{
          margin: 0;
          padding: 0px 25px;
          background: var(--color-primary-two);
          border-radius: 4px;
          color: var(--color-white) !important;
          transition: all 0.3s ease-in-out 0s;
          cursor: pointer;
          border: 1px solid;
          border-color: var(--color-primary-two);
          }

          .fixed-top .navbar>ul>li.register:hover{
          border: 1px solid;
          border-color: var(--color-primary-two);
          background: transparent;
          }

          .fixed-top .navbar>ul>li.register a{
          color: var(--color-white) !important;
          padding-left: 0;
          padding-right: 0;
          }
          .fixed-top .navbar>ul>li.register:hover a{
          color: var(--color-primary-two) !important;
          }

@media (max-width:992px) {
          .navbar>ul>li.register{
          margin: 0;
          padding: 0px 25px;
          background: var(--color-primary-two);
          border-radius: 4px;
          color: var(--color-white) !important;
          transition: all 0.3s ease-in-out 0s;
          cursor: pointer;
          border: 1px solid;
          border-color: var(--color-primary-two);
          }

          .navbar>ul>li.register:hover{
          border: 1px solid;
          border-color: var(--color-primary-two);
          background: transparent;
          }

          .navbar>ul>li.register a{
          color: var(--color-white) !important;
          padding-left: 0;
          padding-right: 0;
          }
          .navbar>ul>li.register:hover a{
          color: var(--color-primary-two) !important;
          }
.navbar>ul>li.login{
          margin-top: 10px;
}
}

.navbar>ul>li.login{
margin: 0;
padding: 0px 25px;
background: var(--color-primary);
border-radius: 4px;
color: var(--color-white) !important;
transition: all 0.3s ease-in-out 0s;
cursor: pointer;
border: 1px solid;
border-color: var(--color-primary);
}
.navbar>ul>li.login:hover{
border: 1px solid;
border-color: var(--color-white);
background: transparent;
}

.navbar>ul>li.login a{
color: var(--color-white) !important;
padding-left: 0;
padding-right: 0;
}

.navbar>ul>li.login:hover a{
color: var(--color-white) !important;
}

.fixed-top .navbar>ul>li.login{
margin: 0;
padding: 0px 25px;
background: var(--color-primary);
border-radius: 4px;
color: var(--color-white) !important;
transition: all 0.3s ease-in-out 0s;
cursor: pointer;
border: 1px solid;
border-color: var(--color-primary);
}
.fixed-top .navbar>ul>li.login:hover{
border: 1px solid;
border-color: var(--color-primary);
background: transparent;
}

.fixed-top .navbar>ul>li.login a{
color: var(--color-white) !important;
padding-left: 0;
padding-right: 0;
}

.fixed-top .navbar>ul>li.login:hover a{
color: var(--color-primary) !important;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: 90%;
  }
	
	

  .navbar .dropdown .dropdown:hover>ul {
    left: 100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: var(--color-white);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: relative;
text-align: end;
right: 0;
/* width: 100%; */
width: fit-content;
}
#header.fixed-top .mobile-nav-toggle{
  width: unset;
}

.mobile-nav-toggle.bi-x {
  color: var(--color-white);
}

@media (min-width: 992px){
  .navbar>ul.mainmenu{
  width: 100%;
  justify-content: space-between;
  }

  .navbar .dropdown ul::before {
  	content: "";
  	position: absolute;
  	inset-block-start: -7px;
  	inset-inline-start: 10%;
  	width: 13px;
  	height: 13px;
  	border: 1px solid transparent;
  	transform: rotate(45deg);
  	background-color: var(--color-white);
  	z-index: 901;
  	display: block;
  	transition-duration: 0.25s;
  	border-color: rgba(var(--color-secondary-rgb), 0.5);
  	border-bottom: 0;
  	border-right: 0;
  }

          .navbar .logo-mob-nav{
                  display: none;
          }
          .navbar .nav-mobiles{
                 display: none;

          }
}

@media (max-width: 991px) {
  .navbar>ul>li.login{
    display: none;
  }
  .navbar>ul>li.register{
    display: none;
  }
  .navbar{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .navbar ul.mainmenu{
            position: fixed;
           right: 100%;
           left: -100%;
           transition: 0.5s ease;
           top: 0px;
           display: block;
 }


 .navbar-mobile ul.mainmenu{
           right: 10%;
           left: 0%;
           top: 0px;
          transition: 0.5s ease;

 }

  .navbar .logo-mob-nav{
          display: block;
  }

  .navbar .logo-mob-nav a{
            display: block;
            width: fit-content;
            margin: auto;
 }

   .navbar .logo-mob-nav a img{
             max-height: 70px;
   }
   .navbar.navbar-mobile .nav-mobiles{
             display: none;
   }

   .navbar .nav-mobiles {
	display: flex;
	justify-content: space-between;
	width: 89%;
	right: 0;
	position: absolute;
	left: auto;
	top: 0;
}

	

   .navbar .nav-mobiles .logos a img{
          max-height: 40px;
   }

   .navbar .nav-mobiles .contacts{
             display: flex;
   }

   .navbar .nav-mobiles .contacts .my-custom-dropdown ul{
    right: 0;
    left: auto;
   }

   .navbar .nav-mobiles .contacts .my-custom-dropdown ul li{
    min-width: 150px;
   }

   .navbar .nav-mobiles .contacts .my-custom-dropdown ul li a{
    padding: 10px 15px;
   }

   .navbar .nav-mobiles .contacts .my-custom-dropdown ul li a:hover{
    color: var(--color-primary-two);
   }

   .navbar .nav-mobiles .contacts .icon {
	height: 40px;
	width: 40px;
	line-height: 40px;
	border: 1px solid;
	border-color: #fff;
	border-radius: 100%;
	text-align: center;

	color: #fff;
          display: block;
}

.navbar .nav-mobiles .contacts .items{
  margin-right: 10px;
}
	
.navbar .nav-mobiles .contacts .items:last-child{

 margin-right: 0px;
}


}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(9, 9, 9, 0.51);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 10px;
	display: block;
	width: fit-content;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: var(--color-white);
  overflow-y: auto;
  transition: 0.3s;
  /* max-height: 400px; */
  height: 100%;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  /* padding: 10px 20px; */
  font-size: 15px;
  color: var(--color-secondary);
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--color-primary);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 0px;
  /* padding: 10px 0; */
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: var(--color-white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  border-left: 0;
  border-right: 0px;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--color-primary);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/
.banner{
          padding: 60px 0px;
          /* background: var(--color-primary-two); */
          height: 100%;
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #fff;
position: relative;
}



.banner::before {
	content: "";
	background: linear-gradient(to bottom, rgba(var(--color-primary-rgb-two), 1) 0%, rgba(var(--color-primary-rgb-two), 0.5) 100%);
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	
}

.banner.img15{
  background-color:#009;
}

.banner.withheader{
          padding-top: 110px;
}

.banner .banner-inner{
          z-index: 2;
          position: relative;
}

.banner .banner-heading{
          font-size: 65px;
          font-weight: 700;
}



.banner .banner-heading span{
          color: var(--color-primary);
          display: inline-block;
position: relative;
z-index: 1;
font-weight: 700;
}

.banner .banner-heading span::before {
	content: '';
	position: absolute;
	left: 3px;
	bottom: 10px;
	width: 97%;
	height: 12px;
	background: var(--color-white);
	opacity: .1;
	z-index: -1;
}

.banner .banner-content{
          font-size: 24px;
}


@media(max-width:767px){
          .banner .banner-heading{
                    font-size: 50px;
                    font-weight: 700;
          }

          .banner .banner-content{
                    font-size: 20px;
          }
}

@media(max-width:480px){
          .banner .banner-heading{
                    font-size: 45px;
                    font-weight: 700;
          }
          .banner .banner-content{
                    font-size: 17px;
          }

          .banner .btn{
                    margin-top: 10px;
          }
}


.card-style-three {
	box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
	border-radius: 5px;
	padding: 15px;
	width: 100%;
	background: var(--color-white);
	position: relative;
	transition: 0.5s ease;
	overflow: hidden;
	z-index: 1;
	border: 1px solid;
	border-color: var(--color-primary-two);
}



.card-style-three::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	right: -50px;
	top: -10px;
	border-radius: 50%;
	z-index: -1;
	background: var(--color-primary-two);
	transition: 0.5s ease;
}
.card-style-three:hover::before{
	width: 100%;
	height: 100%;
	z-index: -1;
	right: 0;
	top: 0;
	border-radius: 4px;
	transition: 0.5s ease;
}

.card-style-three .icon {
	width: fit-content;
	height: auto;
	background: rgba(var(--color-secondary-light-rgb), 0.2);
	padding: 20px;
	border-radius: 7px;
	transition: 0.5s ease;
	margin: auto;
}
.card-style-three:hover .icon{
	background: rgba(var(--color-white-rgb), 1);
}

.card-style-three .content h3{
	font-size: 22px;
	margin: 30px 0 8px;
	color: var(--color-secondary-dark);
	text-align: center;
	transition: 0.5s ease;
}

.card-style-three:hover .content h3{
	color: var(--color-white);
}

.card-style-three .content p {
	font-size: 17px;
	line-height: 32px;
	color: var(--color-secondary);
	margin-bottom: 0px;
	text-align: center;
	transition: 0.5s ease;
}
.card-style-three:hover .content p{
	color: var(--color-white);
}

.pricing-box {
	position: relative;
	padding: 25px 35px 40px 35px;
	z-index: 1;
}
.pricing-box.plan-featured{
          padding-top: 70px;
}
.pricing-box.plan-featured .featured{
display: block;
}

.pricing-box .featured{
display: none;
}
.pricing-box .featured {
	position: absolute;
	top: 0px;
	left: 0px;
	background: var(--color-primary-two);
	color: var(--color-white);
	width: 100%;
	border-radius: 5px 5px 0 0;
	text-align: center;
	padding: 10px 10px;
	font-size: 17px;
	letter-spacing: .5px;
          margin-bottom: 20px;
}
.pricing-box:before{
          position: absolute;
          content: '';
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          border-radius: 5px;
          background-color: var(--color-white);
          box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
          z-index: -1;
}

.pricing-box .pricing-top{
          border-bottom: 1px solid;
          border-color:rgba(var(--color-secondary-rgb), 0.5);
          padding-bottom: 20px;
}

.pricing-box .pricing-top h3 {
	text-align: center;
	color: var(--color-secondary-dark);
	font-size: 37px;
	margin-bottom: 13px;
          font-weight: 700;
}

.pricing-box .pricing-top p {
	text-align: center;
	color: var(--color-secondary);
	font-size: 17px;
	line-height: 1;
	margin-bottom: 10px;
}

.pricing-box .pricing-top h4 {
	text-align: center;
	color: var(--color-primary-dark-two);
	font-size: 33px;
	margin-bottom: 14px;
	font-weight: 700;
}
.pricing-box .pricing-top h4 span.currency {
	color: var(--color-secondary);
	font-size: 17px;
	line-height: 1;
	top: -14px;
	position: relative;
	margin-right: 5px;
}
.pricing-box .pricing-top h4 span.durection{
color: var(--color-secondary);
font-size: 17px;
line-height: 1;
margin-left: 5px;
}

.pricing-box .pricing-bottom{
          padding-top: 20px;
}

.pricing-box .pricing-bottom ul li{
padding-left: 25px;
position: relative;
padding-bottom: 10px;
font-size: 17px;
color: var(--color-secondary);
}

.pricing-box .pricing-bottom ul li:before{
content: "\F26A";
font-family: "bootstrap-icons";
font-size: 15px;
color: var(--color-primary-two);
position: absolute;
left: 2px;
top: 2px;
font-size: 15px;
}


.pricing-box .pricing-bottom ul li:last-child{
padding-bottom: 0px;
}

.pricing-box .pricing-bottom a{
          margin-top: 17px;
          display: block;
          text-align: center;
}

/*
[dir="rtl"] .testimonilas-slide .quote {
	right: unset;
	left: 25px;
	
}
*/

/*
[dir="rtl"] .testimonilas-slide .info-wrap .avatar{
	margin-right: unset;
	margin-left: 20px;
}
*/

.faq{
	background: var(--color-white);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
	padding: 30px 20px;
	border-radius: 15px;
}

.faq .accordion .accordion-item:first-child{
	margin-top: 0px;
}

.faq .accordion .accordion-item{
  border:none;
  border-radius: 4px;
  margin-top: 15px;
  border: 1px solid;
  border-color: rgba(var(--color-primary-rgb-two), 0.2);
  color: var(--color-secondary);
  font-size: 17px;
  line-height: 1.7;
}


.faq .accordion .accordion-item .accordion-header .accordion-button{
  font-size: 17px;
line-height: 24px;
background: rgba(var(--color-primary-rgb-two), 0.0);
border-radius: 4px 4px 0px 0px;
border: none !important;
color: var(--color-secondary-dark);
border-bottom: 1px solid !important;
border-color: rgba(var(--color-primary-rgb-two), 0.2) !important;
}


.faq .accordion .accordion-item .accordion-header .accordion-button.collapsed{
background: rgba(var(--color-primary-rgb-two), 0.0);
  border-radius: 4px 4px 4px 4px;
	border: none !important;
}

.faq .accordion .accordion-item .accordion-body a{
color: var(--color-primary-two);
}

.two-buttons{
  margin-top: 20px;
}

.two-buttons a:last-child{
margin-left: 10px;
}

@media (max-width:396px){
  .two-buttons a:last-child{
margin-left: unset;
margin-top: 10px;
}
}


@media (max-width:991px){
  .weebly-container{
    height: unset !important; 
  }

  .weebly-item{
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important; 
  }

  .weebly-item img{
    margin: auto;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page .section{
  padding: 70px 0;
}

.page .section .main {
  justify-content: space-evenly;
}


 
/*======================================== footer ================================*/

.footer{
  padding: 40px 0px;
  background-color: var(--color-primary-two);
	padding-bottom: 20px;
}

.footer .border-top-bottom{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.footer .payment-heading{
  margin-bottom: 0px !important;
  color: var(--color-white);
  font-size: 16px;
  margin-right: 15px;
}

.footer .social-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}



/* --------------------------------------------------------------------------
                           Style Switcher
---------------------------------------------------------------------------*/

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/* Layout Box */


/* Mode Box */


